.square{
    display: flex;
    width: 100px;
    height: 60px;
    align-items: flex-start;
    justify-content: center;
}
.buttonVote{
    margin-top: 10px;
    background-color: rgba(0, 3, 2, 0.8);
    display: flex;
    align-items: flex-start;
    justify-content: start;
    color: white;
    box-shadow: 1px 5px 1px rgba(0, 3, 2, 0.8);
    padding-right: 40px;
    padding-bottom: 10px;
}
.zero{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}